<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- Tituloda Página - SEO -->
    <title>Crie sua Conta Gratuitamente | Trabalho Amigo</title>
    <!-- Descrição da Página - SEO -->
    <meta name="description" content="Crie sua Conta">

    <!-- Metas tags de configurações das páginas -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Importação do Icone do Projeto -->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Tags Globais do projeto -->
    <script src="../../../../app.js" defer></script>
    <link rel="stylesheet" href="../../../../app.css">

    <!-- Tags Especificas de cada página-->
    <link rel="stylesheet" href="../../../../public/css/contrante/criar.css">
    <script src="../../../../public/js/contrante/conta.js" defer></script>

    <!-- Importação da bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <section id="CriarContaUsuario">
        <header class="site-topo">
            <img src="../../assets/images/EntrarUsuario/logo-trabalhoamigo.png" alt="">
        </header>

        <div class="left">
            <div class="imagem">
                <img src="../../../../public/img/CriarUsuario/imagen-criar-ususario.png" alt="Imagem Padrão Criar Usuário">
            </div>
            <p class="descricao">Encontre milhares de serviços a sua disposição de forma simples e rápida!</p>
        </div>

        <div class="right">
            <main class="corpo">
                <section class="content-titulo">
                    <h1 class="titulo">Crie sua conta aqui</h1>
                    <p class="descricao">Crie sua conta gratuitamente em nossa plataforma</p>
                </section>
                <form id="FormCriarUsuario" method="post" action="../../../controllers/contratante/indexController.php">
                    <section class="inputGroup">
                        <!-- Campos já existentes -->
                        <div class="input-group">
                            <input  type="text" name="primeiro_nome" autocomplete="off" class="input nome">
                            <label class="user-label">Primeiro Nome</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="text" name="ultimo_nome" autocomplete="off" class="input nome">
                            <label class="user-label">Sobrenome</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="email" name="email" autocomplete="off" class="input email">
                            <label class="user-label">Email</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="tel" name="telefone" autocomplete="off" class="input telefone">
                            <label class="user-label">Telefone</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input type="password" name="senha" autocomplete="off" class="input senha">
                            <label class="user-label">Senha</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input type="password" name="text" autocomplete="off" class="input senha">
                            <label class="user-label">Repetir Senha</label>
                            <h4 class="errorMessage errorMessageSenha hidden">Preencha corretamente este campo!</h4>
                        </div>  
                        <div class="input-group">
                            <input type="tel" name="celular" autocomplete="off" class="input celular">
                            <label class="user-label">Celular</label>
                            <h4 class="errorMessage errorMessageCelular hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input type="tel" name="whatsapp" autocomplete="off" class="input whatsapp">
                            <label class="user-label">WhatsApp</label>
                            <h4 class="errorMessage errorMessageWhatsapp hidden">Preencha corretamente este campo!</h4>
                        </div>                        
                        <div class="input-group">
                            <input  type="text" name="cpf" autocomplete="off" class="input cpf">
                            <label class="user-label">CPF</label>
                            <h4 class="errorMessage errorMessageCpf hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="text" name="cep" autocomplete="off" class="input cep">
                            <label class="user-label">CEP</label>
                            <h4 class="errorMessage errorMessageCep hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="text" name="rua" autocomplete="off" class="input rua" disabled>
                            <label class="user-label user-label-disabled">Rua</label>
                            <h4 class="errorMessage errorMessageRua hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="text" name="bairro" autocomplete="off" class="input bairro" disabled>
                            <label class="user-label user-label-disabled">Bairro</label>
                            <h4 class="errorMessage errorMessageBairro hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="number" name="numero" autocomplete="off" class="input numero">
                            <label class="user-label">Número</label>
                            <h4 class="errorMessage errorMessageNumero hidden">Preencha corretamente este campo!</h4>
                        </div>
                        <div class="input-group">
                            <input  type="text" name="complemento" autocomplete="off" class="input complemento">
                            <label class="user-label">Complemento</label>
                            <h4 class="errorMessage errorMessageComplemento hidden">Preencha corretamente este campo!</h4>
                        </div>
                    </section>
                    <div class="row">
                        <div id="checkTerms">
                            <label class="container">
                                <input type="checkbox">
                                <div class="checkmark"></div>
                            </label>
                            <p>Eu aceito <strong style="color: #FF8682;">Termos</strong> e <strong style="color: #FF8682;">Politicas de Privicidade</strong></p>
                        </div>
                    </div>
                    <div class="rowBtn">
                        <button type="submit" class="SendForm">Cadastrar</button>
                    </div>
                    <div class="rowOthersLogin">
                        <h2 class="titulo">Ou faça login com</h2>
                        <div class="flexSocial">
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Facebook.png" alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Google.png" alt="Icone de Login">
                            </div>
                            <div class="box-social">
                                <img src="../../../../public/img/EntrarUsuario/Icon-Social-Apple.png" alt="Icone de Login">
                            </div>
                        </div>

                        <section>
                            <h2 class="titulo">Já possui uma conta? <a style="color: #FA511D;" href="../EntrarConta/" class="link">Entre em sua conta</a></h2>
                        </section>
                </form>
            </main>
        </div>
    </section>
</body>

</html>
