# Habilita o módulo de reescrita
RewriteEngine On
RewriteBase /

# Protege contra acesso a arquivos sensíveis
<FilesMatch "^.*\.(ini|log|conf|env)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Controle de cache
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType text/html "access plus 600 seconds"
</IfModule>

# Previne hotlinking de imagens
RewriteCond %{HTTP_REFERER} !^https?://(www\.)?localhost [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [F,NC,L]

# Aumenta o limite de tamanho de arquivo
php_value upload_max_filesize 500M
php_value post_max_size 500M
