@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
a,
td {
    all: unset;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
}

/* ======================================================================================== */
/*                                        Topo do site                                      */
/* ======================================================================================== */

#site-topo {
    background: #F8F8F8;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.151);
}
#site-topo .logo-box {
    width: 70px;
    height: 70px;
    margin-top: 5px;
}
#site-topo .logo {
    width: 100%;
    height: 100%;
}
#site-topo .navigation-box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#site-topo .links-box {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#site-topo .link-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #FA511D;
    text-decoration: none;
}
#site-topo .link-element img {
    width: 28px;
    height: 28px;
}
#site-topo .userProfile-circle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    cursor: pointer;
}
@media screen and ( max-width: 950px ) {
    #site-topo .links-box,
    #site-topo .userProfile-circle {
        display: none !important;
    }
    .menu-mobile {
        display: flex;
    }
}
#offCanva-mobile {
    position: absolute;
    background: #f0f0f0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    z-index: 999;
}
#offCanva-mobile .headerOffCanva {
    background: #fff;
    width: calc(100% - 100px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
#offCanva-mobile .headerOffCanva img {
    width: 170px;
    height: 30px;
}
#offCanva-mobile .content-offcanva {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
#offCanva-mobile .content-offcanva a {
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: #FA511D;
}
#offCanva-mobile .content-offcanva a:first-child {
    background: #2B88F4;
    color: #fff;
    padding: 20px 0;
    border-radius: 500px;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
}
#popup-profile {
    position: absolute;
    right: 70px;
    top: 90px;
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid rgba(156, 156, 156, 0.171);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.158);
    border-radius: 12px;
    padding: 10px 10px;
    z-index: 999;
}
#popup-profile .topo-popup-profile{
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
}
#popup-profile .name-user {
    font-weight: 700;
    font-size: 18px;
    color: #333232;
}
#popup-profile .topo-popup-profile img {
    width: 45px;
    height: 45px;
}
#popup-profile .small-line {
    width: 100%;
    border: .1px solid rgba(173, 173, 173, 0.397);
}
#popup-profile .list-links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#popup-profile .link {
    font-size: 16px;
    font-weight: 600;
    color: #525151;
    text-decoration: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 4px;
} 
#popup-profile .link:hover {
    background: #fa511d34;
    transition: .33s;
}
#popup-profile .link-child-logout {
    color: #FA511D;
}
#site-rodape {
    position: relative;
    bottom: 0;
    background: #F8EFF8;
    width: calc(100% - 100px);
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
}
#site-rodape .topo-rodape {
    display: flex;
    justify-content: space-between;
}
#site-rodape .topo-rodape .logo {
    width: 70px;
    height: 70px;
}
#site-rodape .navigation-social {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#site-rodape .navigation-social img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: .33s;
}
#site-rodape .navigation-social img:hover {
    transform: scale(1.1);
}
#site-rodape .bar-long {
    margin: 30px 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.075);
}
#site-rodape .d-flex {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
#site-rodape .item {
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#site-rodape .item .titulo {
    font-weight: 800;
    font-size: 22px;
    color: #FA511D;
}
#site-rodape .item .list-itens {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
#site-rodape .item .list-itens .itens-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #686868;
}
#site-rodape .d-flex-footer {
    display: flex;
    justify-content: start;
}
#site-rodape .d-flex-footer .copy {
    font-size: 16px;
    font-weight: 500;
    color: #686868;
}
@media screen and (max-width:850px) {
    .d-flex {
        display: grid !important;
        grid-template-columns: 1fr;
    }
    #site-rodape .item:nth-child(3) {
        display: none;
    }
}
@media screen and (max-width:500px) {
    .topo-rodape {
        flex-direction: column;
        row-gap: 60px;
    }
    .navigation-social {
        width: 20%;
    }
    #site-rodape .item {
        width: 100%;
    }
    .list-itens {
        row-gap: 5px;
    }
    #site-rodape {
        padding: 40px 20px;
        width: calc(100% - 40px);
    }
}
.swiper-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
  
.swiper-wrapper {
    display: flex;
    margin-bottom: 50px;
}
  
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
  
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
  
.swiper-button-prev {
    left: 0;
}
  
.swiper-button-next {
    right: 0;
}  
.hidden {
    display: none !important;
}
.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
}
.high-contrast a {
    color: #0f0 !important;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #1f6feb;
}
.disabled-campo {
    background: rgba(94, 94, 94, 0.116) !important;
}

.loading-form-animation {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    animation: loading-animation-button infinite linear .4s;
}

.loading-container {
    display: flex;
    justify-content: center;
}

@keyframes loading-animation-button {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-modal {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modal:hover {
    background-color: #0056b3;
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn-contratar {
    display: inline-block;
    background-color: #28a745; /* Verde */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.btn-contratar:hover {
    background-color: #218838;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#modal-titulo,
#modal-descricao,
#modal-preco {
    font-size: 18px;
    font-weight: 500;
}

.notification-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #e0e0e0;
    z-index: 1000;
    width: 350px; /* Aumentado para melhor acomodação do conteúdo */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    right: 150px;
    overflow: hidden; /* Evita que os itens saiam do contêiner */
}

.notification-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-dropdown li {
    padding: 15px; /* Aumentado para um toque mais moderno */
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column; /* Para alinhar texto e horário */
    cursor: pointer;
}

.notification-dropdown li:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

.notification-dropdown li:hover {
    background-color: #f9f9f9;
}

.notification-time {
    font-size: 12px; /* Tamanho de fonte menor para o horário */
    color: #888; /* Cor mais suave para o horário */
    margin-top: 5px; /* Espaçamento entre notificação e horário */
}

.notification-dropdown li p {
    display: flex;
    align-content: center;
}




.background-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.384);
}

.background-loading-50 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.384);
}

.loading-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-bottom-color: transparent;
    animation: animation_loading_background infinite linear .3s;
}

@keyframes animation_loading_background {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status-aguardando {
    color: #f4561a;
    font-weight: 400;
}
.status-aceito {
    color: green;
}
.status-finalizado {
    color: blue;
}
.status-recusado {
    color: red;
}

.content-titulo {
    width: 100% !important;
    text-align: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: #FA511D;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border: 1px solid #FA511D;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #FA511D;
    color: white;
    border: 1px solid #FA511D;
}

.pagination a:hover {
    background-color: #fca88e46;
}

.edit-user {
    cursor: pointer;
    transition: .33s;
    margin-top: 10px;
}

.edit-user img:hover {
    transition: .1s;
    filter: brightness(0.7);   
}

.edit-user:hover > .span-edit {
    display: block;
}

.span-edit {
    transition: .1s;
    display: none;
    position: absolute;
    left: 25px;
    top: 33px;
}

.img-editor {
    border-radius: 50%;
}

.imag-topo {
    border: 1px solid rgba(119, 119, 119, 0.315);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Tela branca */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que a tela esteja acima de todo o conteúdo */
}

/* Estilos do texto ou ícone de "loading" */
.loading-text {
    font-size: 24px;
    color: #000; /* Cor do texto */
}

.span-edit-fix-left {
    margin-top: 2px;
    margin-left: 0;
}