/* Estilos gerais do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilos da seção de cadastro */
#CadastroServico {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
    margin: auto;
    margin: 40px auto;
}

/* Estilo do título */
#CadastroServico h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos campos do formulário */
form div {
    margin-bottom: 15px;
}

/* Estilo dos rótulos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: monospace;
    resize: none;
}

textarea {
    min-height: 200px;
    overflow-y: scroll;
}
.count {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

/* Estilo do botão de envio */
button {
    background-color: #FA511D; /* Cor verde */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
    font-size: 16px;
}

/* Estilo do botão de envio em hover */
button:hover {
    transition: .33s;
    background-color: #c4360c; /* Cor verde escuro no hover */
}
/* Estilo das mensagens de alerta do SweetAlert */
.swal2-popup {
    font-size: 1.6em; /* Aumenta o tamanho da fonte das mensagens */
}

.orange-back {
    background: #FA511D !important; 
}

.info {
    background-color: #f9f9f9; /* Cor de fundo suave */
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 8px; /* Cantos arredondados */
    padding: 20px; /* Espaçamento interno */
    margin: 20px auto; /* Centraliza na página */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.info h2 {
    color: #333; /* Cor do título */
    margin-bottom: 15px; /* Espaço abaixo do título */
}

.info ul {
    list-style-type: none; /* Remove a lista padrão */
    padding: 0; /* Remove espaçamento interno */
}

.info li {
    margin-bottom: 10px; /* Espaço entre itens da lista */
    padding: 10px; /* Espaçamento interno */
    border-left: 4px solid #007BFF; /* Barra de destaque */
    background-color: #fff; /* Fundo branco para cada item */
    border-radius: 4px; /* Cantos arredondados */
}

.info li strong {
    color: #007BFF; /* Cor dos textos em negrito */
}

.flex-content {
    display: flex;
    gap: 20px;
}

.uploads-avancado {
    width: 100%;
    margin: 40px auto;
    max-width: 93%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.titulo-upload-avancado {
    font-size: 19px;
}

.container-upload {
    min-height: 300px;
    width: 100%;
    border: 2px dashed #888;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    cursor: pointer;
    gap: 40px;
}

.container-upload:hover {
    border: 2px dashed #FA511D;
}

.container-upload:hover > .custom-file-upload {
    transition: .2s;
    color: #FA511D;
}

#arquivo {
    display: none;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.name-file {
    font-size: 16px;
    font-weight: 600;
    color: #FA511D;
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}