.left {
    width: 50%;
}

.right {
    width: 50%;
    position: relative;
    left: 45%;
}

.input-group {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    border: solid 1.5px #1C1B1F;
    border-radius: 4px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #2e2c2c;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.errorMessage {
    color: rgb(249, 84, 84);
    font-size: 14px;
}

.user-label {
    position: absolute;
    left: 15px;
    color: #b8b8b8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
    font-size: 16px;
    font-weight: 500;
}
   
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #1a73e8;
}
   
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-55%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #2196f3;
}

#FormCriarUsuario {
    margin-top: 20px;
}

#FormCriarUsuario .inputGroup {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#FormCriarUsuario .row {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
#FormCriarUsuario .row #checkTerms {
    display: flex;
    justify-content: center;
    gap: 0;
    align-items: center;
}
#FormCriarUsuario .row #checkTerms .titulo {
    color: #313131;
    font-size: 14px;
    font-weight: 500;
}
#FormCriarUsuario .row .PassForgout {
    color: #FF8682;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
#FormCriarUsuario .row .PassForgout:hover {
    color: #fca9a7;
}
#FormCriarUsuario .rowBtn {
    width: 100%;
    margin-bottom: 10px;
}
#FormCriarUsuario .rowBtn .SendForm {
    background: #515DEF;
    width: 86%;
    border: none;
    border-radius: 4px;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 9.5%;
}
#FormCriarUsuario .rowBtn .SendForm:disabled {
    background: #b0b5ed;
    cursor: no-drop;
}
#FormCriarUsuario .rowBtn .SendForm:hover {
    background: #6a76f7;
}
#FormCriarUsuario .NoLogin {
    width: 100%;
    display: flex;
    justify-content: center;
}
#FormCriarUsuario .NoLogin .titulo {
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    line-height: auto;
}
#FormCriarUsuario .NoLogin .titulo .link {
    color: #FF8682;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.inputGroupName {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputGroupContact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputGroupPsswrd {
    width: 80%;
    position: relative;
    left: 10%;
}

.inputGroupPsswrd .input {
    margin-top: 10px;
}

.titulo {
    font-size: xx-large;
    color: #FA511D;
}

h1, p {
    position: relative;
    left: 10%;
}

.inputGroupAddress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputGroupAddressTwo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inputGroupAddressThree {
    width: 80%;
    position: relative;
    left: 10%;
}

.inputGroupAddressThree .input {
    margin-top: 10px;
}

/* ------------------------------------------------------------- */

.rowOthersLogin {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    z-index: 2;
}
.rowOthersLogin .titulo {
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    padding: 0 20px;
    z-index: 2;
}
.rowOthersLogin::before {
    content: '';
    width: 35%;
    height: 1px;
    background: rgb(217, 217, 217);
    margin-top: 10px;
    position: absolute;
    z-index: 1;
}
.rowOthersLogin .flexSocial {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.rowOthersLogin .flexSocial .box-social {
    width: 100%;
    padding: 10px 0;
    border: 2px solid #d4d4d4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .33s;
}
.rowOthersLogin .flexSocial .box-social:hover {
    border-color: #3b3b3d;
    background: #f7f7f7;
}
.rowOthersLogin .flexSocial .box-social:active {
    transition: .1s;
    transform: scale(.9);
}
.SouAnunciante {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.SouAnunciante .titulo {
    color: #747474;
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    padding: 0 20px;
    z-index: 2;
}
.SouAnunciante::before {
    content: '';
    width: 35%;
    height: 1px;
    background: rgb(217, 217, 217);
    margin-top: 9spx;
    position: absolute;
    z-index: 1;
}
.SouAnunciante .buttonLinkAnunciante {
    width: 100%;
    padding: 10px 0;
    background:#FA511D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    transition: .33s;
    border-radius: 4px;
}
.SouAnunciante .buttonLinkAnunciante:hover {
    background:#fc6a3e;   
}

@media screen and (max-width: 950px) {
    #EntrarContaUsuario {
        flex-direction: column;
        row-gap: 40px;
    }
    #EntrarContaUsuario .left,
    #EntrarContaUsuario .right {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    #EntrarContaUsuario {
        padding: 20px;
    }
}
@media screen and (max-width: 500px) {
    #EntrarContaUsuario .left .corpo .content-titulo .titulo {
        font-size: 24px;
    }
    #EntrarContaUsuario .left .corpo .content-titulo .descricao {
        font-size: 14px;
    }
    #FormEntrarUsuario {
        margin-top: 10px;
    }
    #EntrarContaUsuario .rowOthersLogin::before {
        width: 100% !important;
    }
    #EntrarContaUsuario .SouAnunciante::before {
        width: 100% !important;
    }
}
@media screen and (max-width: 400px) {
    .PassForgout {
        font-size: 14px !important;
    }
    .NoLogin .titulo {
        font-size: 14px !important;
    }
    .NoLogin .titulo .link {
        font-size: 14px !important;
    }
    .buttonLinkAnunciante {
        font-size: 16px !important;
    }
    .SendForm {
        font-size: 16px !important;
    }
}

.hidden {
    display: none !important;
}

.TopPage {
    width: 100%;
    height: 7vh;
    margin: 0;
    padding: 0;
    background-color: #FA511D;
    z-index: 0;
    display: flex;
}

.BarLow {
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
    background-color: #6400A1;
    z-index: -1;
    position: absolute;
    margin-bottom: 0;
}