.bloco-login {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;

    overflow-y: hidden;
}

.bloco-login * {
    font-family: 'Montserrat';
}

::selection {
    background-color: #f85218;
    color: #ffffff;
}

.bloco-imagem {
    width: 65%;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: .33s;
}

.bloco-imagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.bloco-form {
    transition: .33s;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.bloco-form .up-fixed {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.bloco-form-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.form-header-figure {
    margin: 0;
    width: 45px;
    height: 45px;
}

.form-header-figure img {
    width: 100%;
    height: 100%;;
}

.header-figure-titulo {
    font-size: 20px;
    font-weight: 600;
}

.bloco-form-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.form-content-header {
    margin-bottom: 30px;
}

.content-header-titulo {
    font-size: 24px;
    font-weight: 600;
}

.content-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.item-group-form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.item-group-form label {
    margin-left: 16px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.item-group-form input {
    padding: 14px 16px;
    border: 0.5px solid #b0b0b0;
    background: #F2F2F2;
    font-size: 16px;
    font-weight: 500;
    color: #808080;
    outline: none;
    border-radius: 6px;
    padding-right: 50px;
}

.item-group-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #808080;   
}

.input_senha_eye {
    position: absolute;
    right: 40px;
    margin-right: 16px;
    margin-top: 40px;
}

.input_senha_eye i {
    font-size: 19px;
    color: #4D4D4D;
    cursor: pointer;
    transition: .33s;
}

.row-item-group-form {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 5px 0 20px 0;
}

.link-item-form {
    color: #007AFF;
    font-size: 12px;
    font-weight: 500;
}

.link-item-form:hover {
    text-decoration: underline;
}

.button-send-form {
    background: #007AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: .1s;
}

.button-send-form:hover {
    background: #3491f4;
}

.row-item-group-form-left {
    width: 100%;
    display: flex;
    justify-content: center;
}

.description-row-item-form {
    display: flex;
    gap: 10px;
}

.description-row-item-form .link-item-form {
    font-size: 16px;
}

.separator-item-form {
    width: 100%;
}

.button_other_option {
    margin-top: 10px;
    background: #fb5420;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: .1s;
    max-width: fit-content;
    transition: 0;
}

.bloco-form-footer {
    display: flex;
    justify-content: center;
}

.form-footer-copy {
    font-size: 14px;
    color: #535353;
    font-weight: 500;
}


/* Medias */

@media screen and (max-width: 1000px) {
    .bloco-imagem {
        width: 40%;
    }

    
    .bloco-form {
        width: 60%;
        padding: 50px 20px;
    }
}

@media screen and (max-width: 600px) {
    .bloco-imagem {
        display: none;
    }

    
    .bloco-form {
        width: 100%;
        padding: 50px 20px;
    }

    .bloco-form-footer {
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .content-header-titulo {
        font-size: 18px;
    }

    .item-group-form label {
        font-size: 12px;
    }

    .item-group-form input {
        font-size: 16px;
        font-weight: 400;
        padding: 10px 10px;
    }

    .item-group-form input::placeholder {
        font-size: 16px;
        font-weight: 400;
    }

    .input_senha_eye {
        margin-top: 35px;
        margin-right: 0;
    }

    .link-item-form {
        font-size: 15px;
    }

    .button_other_option {
        width: 100%;
        font-size: 18px;
        max-width: none;
    }

    .row-item-group-form-left {
        justify-content: left;
    }

    .description-row-item-form {
        flex-direction: column;
        justify-content: left;
        row-gap: 5px;
    }
}