<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Título da Página - SEO -->
    <title>Esqueci Minha Senha | Trabalho Amigo</title>
    <!-- Descrição da Página - SEO -->
    <meta name="description" content="Recupere sua senha no Trabalho Amigo de forma rápida e segura." />

    <!-- Metas tags de configurações das páginas -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Importação do Icone do Projeto -->
    <link rel="icon" href="../../favicon.ico" type="image/x-icon">

    <!-- Tags Globais do projeto -->
    <script src="../../../../app.js" defer></script>
    <link rel="stylesheet" href="../../../../app.css">

    <!-- Tags Especificas de cada página-->
    <link rel="stylesheet" href="../../../../public/css/contrante/recuperarSenha.css">

    <!-- Importação da bibliotecas -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        body {
            overflow-y: hidden;
        }
    </style>

</head>

<body>
    <section id="RecuperarSenha">
        <div>
            <img width="60px" src="../../../../public/img/logo/favicon.ico" alt="Logo Trabalho Amigo">
        </div>
        <header>
            <h1 class="titulo">Recuperar Senha</h1>
            <p class="descricao">Informe seu email para receber instruções de recuperação de senha.</p>
        </header>
        <main class="corpo">
            <form id="FormRecuperarSenha">
                <section class="inputGroup">
                    <label for="email" class="label">Email</label>
                    <input required placeholder="Digite seu e-mail aqui" type="text" name="email" autocomplete="off" class="input email" id="email">
                    <p class="timer-off hidden">Aguarde <span id="timer">30</span> segundos para enviar novamente</p>
                </section>
                <div class="group-btn">
                    <button type="submit" class="SendForm disabled-button">Enviar Código</button>
                    <button type="button" class="SendForm codeBtn hidden">Validar código</button>
                </div>

                <section class="NoLogin">
                    <h2 class="titulo">Lembrou sua senha? <a href="../EntrarConta/" class="link">Voltar ao Login</a></h2>
                </section>
            </form>
        </main>
    </section>

    <div class="background-loading-50 hidden">
        <div class="loading-icon"></div>
    </div>

    <script>

        $('#email').focus();

        $(".codeBtn").click(() => {
            SwalInsertCode();
        });

        let remainingTime = localStorage.getItem('remainingTime');
        let timerInterval;

        if (remainingTime) {
            $('.timer-off').removeClass("hidden");
            $('#email').prop('disabled', true);
            $('.disabled-button').prop('disabled', true);
            startTimer(parseInt(remainingTime));
        }

        $('#FormRecuperarSenha').on('submit', function (e) {
            e.preventDefault();

            let formData = {
                email: $('.input.email').val().trim(),
            };

            // Validação simples
            if (!validarEmail(formData.email)) {
                Swal.fire({
                    icon: 'error',
                    title: 'Erro de Validação',
                    text: 'Email inválido. Por favor, verifique e tente novamente.'
                });
                return;
            }

            $('.background-loading-50').removeClass('hidden');

            $.ajax({
                url: '../../../controllers/contratante/RecuperarSenha.php',
                type: 'POST',
                data: formData,
                success: function (response) {

                    $('.background-loading-50').addClass('hidden');

                    response = JSON.parse(response);

                    if (response.success) {
                        
                        $('.codeBtn').removeClass('hidden');

                        $('.timer-off').removeClass("hidden");
                        $('#email').prop('disabled', true);
                        $('.disabled-button').prop('disabled', true);

                        startTimer(30);

                        Swal.fire({
                            icon: 'success',
                            title: 'Sucesso',
                            text: 'Código de recuperação enviado com sucesso.'
                        }).then(() => {
                            SwalInsertCode();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Erro',
                            text: response.message
                        });
                    }

                },
                error: function () {
                    $('.background-loading-50').addClass('hidden');
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro',
                        text: 'Ocorreu um erro ao enviar o e-mail. Tente novamente.'
                    });
                }
            });
        });

        function startTimer(seconds) {
            let remainingTime = seconds;

            $('#timer').text(remainingTime); // Exibe o tempo restante no elemento com o ID "timer"

            timerInterval = setInterval(() => {
                remainingTime--;
                $('#timer').text(remainingTime);
                localStorage.setItem('remainingTime', remainingTime); // Armazena o tempo restante no localStorage

                if (remainingTime <= 0) {
                    clearInterval(timerInterval);
                    $('#email').prop('disabled', false);
                    $('.disabled-button').prop('disabled', false);
                    $('.timer-off').addClass("hidden");
                    localStorage.removeItem('remainingTime'); // Remove o tempo restante do localStorage
                }
            }, 1000);
        }

        function validarEmail(email) {
            const regexEmail = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regexEmail.test(email);
        }

        function SwalInsertCode() {
            Swal.fire({
                title: 'Digite o código de recuperação',
                input: 'text',
                inputLabel: 'Código',
                inputPlaceholder: 'Insira seu código aqui',
                showCancelButton: true,
                confirmButtonText: 'Verificar',
                cancelButtonText: 'Cancelar',
                preConfirm: (codigoRecuperacao) => {
                    return new Promise((resolve) => {
                        $.ajax({
                            url: '../../../controllers/contratante/VerificarCodigo.php',
                            type: 'POST',
                            data: {
                                email: $("#email").val(),
                                codigo: codigoRecuperacao
                            },
                            success: function (result) {
                                if (result.success) {
                                    resolve(result);
                                } else {
                                    Swal.showValidationMessage(result.message);
                                    resolve(false);
                                }
                            },
                            error: function () {
                                Swal.showValidationMessage('Erro ao verificar o código.');
                                resolve(false);
                            }
                        });
                    });
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Redefinir Senha',
                        html: `
                            <input type="password" id="novaSenha" class="swal2-input" placeholder="Nova senha">
                            <input type="password" id="confirmarSenha" class="swal2-input" placeholder="Confirmar senha">
                        `,
                        confirmButtonText: 'Redefinir',
                        preConfirm: () => {
                            const novaSenha = Swal.getPopup().querySelector('#novaSenha').value;
                            const confirmarSenha = Swal.getPopup().querySelector('#confirmarSenha').value;

                            if (!novaSenha || !confirmarSenha) {
                                Swal.showValidationMessage('Por favor, preencha ambos os campos.');
                            } else if (novaSenha !== confirmarSenha) {
                                Swal.showValidationMessage('As senhas não coincidem.');
                            } else {
                                return { novaSenha };
                            }
                        }
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                url: '../../../controllers/contratante/RedefinirSenha.php',
                                type: 'POST',
                                data: {
                                    email: $("#email").val(),
                                    novaSenha: result.value.novaSenha
                                },
                                success: function (finalResult) {
                                    if (finalResult.success) {
                                        Swal.fire('Sucesso!', 'Senha redefinida com sucesso.', 'success').then(() => {
                                            window.location.href = '../EntrarConta/';
                                        });
                                    } else {
                                        Swal.fire('Erro', finalResult.message, 'error');
                                    }
                                },
                                error: function () {
                                    Swal.fire('Erro', 'Não foi possível redefinir a senha. Tente novamente.', 'error');
                                }
                            });
                        }
                    });
                }
            });
        }
    </script>

</body>
</html>
